<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Справка</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
	<div class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<h1>Справка</h1>
				</div>
				<div class="jumbotron">
					<p class="lead">1. Выберите уровень сложности и размерность поля Неприкасаемого судоку, на котором хотите играть и начните игру.</p>
					<img src="../static/images/levels and diff.JPG" alt="">
					<hr class="my-4">
					<p class="lead">2. В открывшемся окне нажмите кнопку начать. У вас появится поле для игры соответсвуещего выбраным параметром вида:</p>
					<img src="../static/images/Pole3.JPG" alt="">
					<hr class="my-4">
					<p class="lead">3. Нажмите на одну из свободных ячеек. Вы увидите меню, на котором можете выбрать некоторые значения:</p>
					<img src="../static/images/PoleAct0.JPG" alt="">
					<hr class="my-4">
					<p class="lead">4. Заметим, что в строке, выбранной ячейки, в представленном варианте не хватает лишь одной цифры - 2. Поставим это значение:</p>
					<img src="../static/images/PoleAct1.JPG" alt="">
					<hr class="my-4">
					<p class="lead">5. Заполним по анологии все свободные клетки.</p>
					<p class="lead">Ура! Вы чемпион!</p>
					<img src="../static/images/PoleAct2.JPG" alt="">
					<br>
					<br>
					<img src="../static/images/GreatGame.JPG" alt="">
					<hr class="my-4">
				  <h1 class="display-3">Почти готово!</h1>
				  <p class="lead">Вы обучены для уровня новичка. Теперь идите и играйте, играйте и играйте... Вы получите больше знаний регулярно практикуясь.</p>
				  <hr class="my-4">
				  <p>Удачи, Чемпион!</p>
				</div>
				<p>© 2017-2018 Created by Tamkovich Denis, @jaselnik.</p>
			</div>
		</div>
	</div>
</body>
</html>